<div class="modal-header">
    <h3 class="modal-title">Resource Properties</h3>
</div>
<div class="modal-body">
    <textarea ng-model="resourceJson" spellcheck="false"
        style="height: 400px; width: 100%; max-height: 400px; resize: none;">
    </textarea>
    
    <b>{{validationResult}}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
    <button class="btn btn-info" ng-click="validate()">Validate</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
