<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Azure Resource Manager Template Visualizer (ArmViz)</a>
    </div>
    
    <ul class="nav navbar-nav">
        <li><a href="https://github.com/ytechie/AzureResourceVisualizer" target="_blank">About</a></li>
        <li><a href="https://github.com/Azure/azure-quickstart-templates" target="_blank">QuickStart Templates</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/ytechie/AzureResourceVisualizer/issues/new" class="smiley" title="Provide Feedback">☻</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar toolbox">
          <button class="btn btn-default" ng-click="main.openExistingTemplate()" style="width: 250px; margin-bottom: 3px;">Open Existing Template</button><br />
          <button class="btn btn-default" ng-click="main.loadArmQuickstartTemplate()" style="width: 250px; margin-bottom: 3px;">
            Load ARM Quickstart Template
          </button><br ng-hide="!!main.loadUrl" />
          <button class="btn btn-default" ng-click="main.openTemplateProperties()" style="width: 250px; margin-bottom: 3px;">Edit Parameter Definitions</button><br />
          <button class="btn btn-default" ng-click="main.downloadArmTemplate()" style="width: 250px; margin-bottom: 3px;">Download ARM Template</button><br />
          <span ng-hide="!main.loadedUrl">
            <button class="btn btn-default" ng-click="main.createVisualizeButton()" style="width: 250px; margin-bottom: 3px;">
              Create Visualizer Button
            </button><br />
          </span>
          <button class="btn btn-default" ng-click="main.openPortalUIEditor()" style="width: 250px; margin-bottom: 3px;">Portal UI Editor</button><br />
          </br />
          
           <h4>Toolbox</h4>
           <a ng-repeat="toolboxItem in main.toolboxItems" class="itemContainer" ng-click="main.toolboxItemClick(toolboxItem)">
               <img class="icon" src="/assets/toolbox-icons/{{toolboxItem.iconName}}" />
               <span class="label">{{toolboxItem.friendlyName}}</span>
           </a>
           <!--
           <h4>Other Elements</h4>
           <a class="itemContainer" ng-click="main.addShape('group')">
                <span class="label">Group</span>
           </a>
           <br />
           -->
           <!--
           <span ng-show="selectedResource">
             <h4>Selected Node Properties</h4>
             <textarea ng-model="selectedResource" readonly
               style="width: 100%; height: 200px; max-height: 200px; resize: none;">
             </textarea>
           </span>
           -->
        </div>
        <div class="col-md-offset-4 col-md-8 main">
            <div id="paper" class="paper" style="height: 1000px; width: 800px;"/>
        </div>
    </div>
</div>