<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Azure Resource Visualizer</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-4 toolbox">
          <button class="btn btn-default" ng-click="loadArmQuickstartTemplate()" style="width: 250px; margin-bottom: 3px;">Load ARM Quickstart Template</button><br />
          <button class="btn btn-default" ng-click="downloadArmTemplate()" style="width: 250px; margin-bottom: 3px;">Download ARM Template</button><br />
          <button class="btn btn-default" ng-click="openTemplateProperties()" style="width: 250px; margin-bottom: 3px;">Edit Parameter Definitions</button>
          
           <h4>Toolbox</h4>
           <a ng-repeat="toolboxItem in toolboxItems" class="itemContainer" ng-click="toolboxItemClick(toolboxItem)">
               <img class="icon" src="/assets/toolbox-icons/{{toolboxItem.iconName}}" />
               <span class="label">{{toolboxItem.friendlyName}}</span>
           </a>
           <br />
           <span ng-show="selectedResource">
             <h4>Selected Node Properties</h4>
             <textarea ng-model="selectedResource" readonly
               style="width: 100%; height: 200px; max-height: 200px; resize: none;">
             </textarea>
           </span>
        </div>
        <div class="col-md-offset-4 col-md-8 main">
            <div id="paper" class="paper" style="height: 1000px; width: 800px;"/>
        </div>
    </div>
</div>