<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Azure Resource Visualizer</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-4 toolbox">
          <button ng-click="downloadArmTemplate()">Download ARM Template</button>
          
           <h2>Toolbox</h2>
           <div ng-repeat="toolboxItem in toolboxItems" class="itemContainer">
               <img class="icon" src="/assets/toolbox-icons/{{toolboxItem.iconName}}" />
               <p class="label">{{toolboxItem.friendlyName}}</p>
           </div>
           <br />
           <h2>Properties</h2>
           <textarea id="nodeProperties">
             
           </textarea>
        </div>
        <div class="col-md-offset-4 col-md-8 main">
            <div id="paper" class="paper" style="height: 1000px; width: 800px;"/>
        </div>
    </div>
</div>
