<div class="modal-header">
    <h3 class="modal-title">Quickstart Template Loader</h3>
</div>
<div class="modal-body">
    <select ng-model="selectedCategory" ng-options="category.name for category in categories"
        ng-change="categorySelected()">
    </select>
    
    <div ng-show="templateMetadata">
        <br />
        <b>Name:</b> {{ templateMetadata.itemDisplayName }}<br />
        <b>Description:</b> {{ templateMetadata.description }}<br />
        <b>Summary:</b> {{ templateMetadata.summary }}<br />
        <b>GitHub Username:</b> {{ templateMetadata.githubUsername }}<br />
        <b>Date Updated:</b> {{ templateMetadata.dateUpdated }}<br />
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="open()">Open</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
